@rendermode InteractiveServer

<div class="navmenu">
    <input class="navmenu-icon" id="navmenu-toggle" title="Menu expand/collapse toggle" type="checkbox"/>
    <label class="navmenu-icon" for="navmenu-toggle">
        <FluentIcon Color="Color.Fill" Value="@(new Icons.Regular.Size20.Navigation())"/>
    </label>
    <nav aria-labelledby="main-menu" class="sitenav">
        <FluentNavMenu @bind-Expanded="expanded" Collapsible="true" CustomToggle="true" Id="main-menu" Title="Navigation menu" Width="250">
            <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent" Match="NavLinkMatch.All">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}