<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <base href="/"/>
    <link href="@Assets["app.css"]" rel="stylesheet"/>
    <link href="@Assets["RomRepoMgr.Blazor.styles.css"]" rel="stylesheet"/>
    <ImportMap/>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>